@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');
*  {
    margin: 0;
    padding: 0;
    font-family: 'Mooli', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f );
    padding: 10px;
}
.todo {
    width: 100%;
    max-width: 350px;
    background: #c88b8b;
    margin: 100px auto 200px;
    padding: 40px 20px 30px;
    border-radius: 30px; 
}
.todo h2 {
    color: #4e085f;
    display: flex;
    align-items: center;
    margin: 20px;
}

.todo h2 img {
    width: 30px;
    margin-left: 10px;
}